<div class="col-sm-12 col-md-12 col-lg-12 text-center">
  <div class="col-sm-4 col-md-4 col-lg-4">&nbsp;</div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <h2>New Contato</h2>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">&nbsp;</div>  
</div>
<%= render 'form' %>
<%= link_to 'Back', contatos_index_path %>

