<div class="container-fluid row">
	<div class="col-sm-12 col-md-12 col-lg-12">&nbsp;</div>
	<div class="col-sm-12 col-md-12 col-lg-12 text-center">
	  <h2>Editing User</h2>
	</div>
	<div class="col-sm-12 col-md-12 col-lg-12">&nbsp;</div>
</div>
<%= render 'form'%>
